* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

button {
    cursor: pointer;
}

.container {
    width: 800px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    text-align: center;

    h1 {
        font-size: 32px;
    }

    .inputs {
        display: flex;
        gap: 20px;

        span {
            display: flex;
            flex-direction: column;
            gap: 4px;

            input {
                padding: 12px 10px;
                border: 1px solid rgb(166, 166, 166);
                border-radius: 5px;
                font-size: 16px;
            }
            label {
                font-size: 14px;
                color: red;
                text-align: left;
            }
        }

        button {
            height: 45px;
            padding: 5px 15px;
            font-size: 16px;
            color: white;
            background-color: #4CAF50;
            font-weight: 500;
            border: none;
            border-radius: 5px;
        }
    }

    table {
        width: 100%;
        border-collapse: collapse;
        thead {
            background-color: #4CAF50;
        }
        tr {
            th, td {
                font-size: 18px;
                font-weight: 400;
                padding: 10px;
                text-align: left;
                color: white;

            }
        }
    }

    tbody {
        height: auto;
        tr {
            
            border-bottom: 1px solid rgb(187, 187, 187);
            td {
                padding: 10px 0px;
                font-size: 16px;
                color: black;
            }
            button {
                font-size: 16px;
                color: white;
                background-color: #4CAF50;
                font-weight: 500;
                border: none;
                padding: 10px 20px;
                border-radius: 5px;
            }
        }
    }
}